/* Header */
.header {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #7A9A01;
  color: #fff;
  padding: 0;
  margin-right: 5px;
  font-weight: bold;
  height: 90px;
  width: 305px;
}

#logo-image {
    content: url(/img/PW-syracuse-logo.png);
    background-repeat: no-repeat;
    background-size: inherit;
    display: inline-block;
    margin-left: 10px;
}

#header-right-container {
  background: #B1C273;
  flex: 1;
  height: 90px;
}